/* src/assets/styles/theme.css */
:root {
    /* Colores base modo claro */
    --color-text-primary: rgb(10, 10, 10);
    --color-text-secondary: rgb(253, 199, 0);
    --color-text-tertiary: rgb(21, 93, 252);
    --color-bg-base: rgb(255, 255, 255);
    --color-bg-panels: rgb(30, 41, 57);
    --color-accent: rgb(21, 93, 252);
    --color-accent-light: rgba(21, 93, 252, 0.1);
  }
  
  /* Colores base modo oscuro */
  .dark {
    --color-text-primary: rgb(255, 255, 255);
    --color-text-secondary: rgb(253, 199, 0);
    --color-text-tertiary: rgb(21, 93, 252);
    --color-bg-base: rgb(16, 24, 40);
    --color-bg-panels: rgb(30, 41, 57);
    --color-accent: rgb(21, 93, 252);
    --color-accent-light: rgba(21, 93, 252, 0.2);
  }